.App {
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  min-height: 100vh;
}
.logo-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 0;
}
.logo-header p {
  font-size: 3rem;
  position: relative;
  bottom: 1.4rem;
}
img {
  margin: 1rem;
  width: 20%;
}